.App {
  background-color: black;
}

.abc {
  max-width: 14vw;
}

.movieCard {
  background-color: rgb(18, 18, 18);
  max-width: 20vw;
  /* max-height: 1vh; */
}

.movieCard button:first-of-type {
  background-color: rgb(44, 44, 44);
  color: rgb(86, 152, 237);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  padding: 3%;
}

.movieCard button:nth-last-child() {
  background-color: rgb(86, 152, 237);
  border: none;
  border-radius: 5px;
}